<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find kaist_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Kaist -->
  <include file="$(find kaist_bringup)/launch/kaist_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find kaist_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find kaist_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find kaist_navigation)/rviz/kaist_navigation.rviz"/>
  </group>
</launch>
